.remodal {
    border-radius: 10px;

    &-close {
        width: 42px;
        height: 42px;
        right: 10px;
        top: 10px;
        left: auto;

        &:before {
            width: 42px;
            height: 42px;
            font-size: 42px;
            color: #3695ff;
        }
    }
}

.remodal-hire {
    &__title {
        margin-bottom: 50px;
    }
}