mixin nav(params)
    nav.nav
        ul.nav__list
            each val in params
                li.nav__item
                    a(href=`#${val.link}`).nav__link= val.text
        hr.nav__devider
        +social.nav__social
            