.nav {

    &__link {
        font-size: 50px;
        font-weight: 300;
        line-height: 98px;
        color: #d2d2d2;
        text-decoration: none;

        &:hover {
            color: #3677fd;
        }
    }

    &__devider {
        opacity: 0.2;
        background-color: #194277;
        margin: 50px 0;
    }
}