-
    let data = {
        cookies: {
            text: "This site uses cookies, so that my service can work better.",
            btn: {
                text: "Accept",
                mod: "primary",
                href: "#menu"
            }
        },
        welcome: {
            title: "free portfolio PSD template<br>FOR GRAPHIC designerS",
            subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud",
            logo: "./img/logo.png",
            btn: {
                text: 'hire me',
                mod: 'big',
                href: "#hire"
            },
            arrow: "./img/arrow__bottom.png"
        },
        expert: {
            title: 'Experts In',
            titles: ['First icon', 'WEB DESIGN', 'WEB DEVELOPMENT', 'PRODUCT DESIGN', 'UX & UI', 'ANIMATIONS']
        },
        nav: [{
            text: "About",
            link: "about"
        },
        {
            text: "Services",
            link: "services"
        },
        {
            text: "My works",
            link: "works"
        },
        {
            text: "Clients",
            link: "clients"
        }]
    }
