-
    let data = {
        cookies: {
            text: "This site uses cookies, so that my service can work better.",
            btn: {
                text: "Accept",
                mod: "primary",
                href: "#menu"
            }
        },
        expert: {
            title: 'Expert In',
            titles: ['Hello alexander', 'WEB DESIGN', 'WEB DEVELOPMENT', 'PRODUCT DESIGN', 'UX & UI', 'ANIMATIONS']
        },
        nav: [{
            text: "About me",
            link: "about"
        },
        {
            text: "Services",
            link: "services"
        },
        {
            text: "My works",
            link: "works"
        },
        {
            text: "Clients",
            link: "clients"
        }]
    }
