mixin cookies(params)
    .cookies
        .container.text-center.d-flex.justify-content-center
            .cookies__text= params.text
            +btn(params.btn.text, params.btn.mod)(href=params.btn.href)